@{
    ViewBag.Title = "Home";
}
<div class="row" style="margin:100px">
    <div class="col-md-12">
        <h4>Book or release your seat.</h4>
        <hr />
        @Html.ActionLink("Book a seat", "Book", "Seat", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Release a seat", "Release", "Seat", null, new { @class = "btn btn-default" })
    </div>
</div>
