@{
    ViewBag.Title = "Release Seat";
}

<div ng-controller="seatReleasingController" style="width:100%">
    <div class="seats-container">
        <div ng-repeat="rows in seats">
            <div class="row">
                <span ng-repeat="name in rows" class="seat" ng-class="{'booked-release': data.seats.isBooked(name), 'selected-release': data.seats.isSelected(name)}" ng-click="data.seats.select(name)">
                    {{name}}
                </span>
            </div>
        </div>
        <h4 class="text-warning">You have {{data.seats.booked.length}} seats to release!</h4>
        <div class="row" style="float:right; margin-right:60px">
          
            @Html.ActionLink("Book Page", "Book", "Seat", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
            <div class="btn btn-primary" ng-click="data.seats.release()">Release</div>
        </div>
    </div>
</div>